beautifulsoup4==4.4.1
bs4==0.0.1
Flask==0.10.1
Flask-Markdown==0.3
Flask-Script==0.6.6
Flask-SQLAlchemy==1.0
foo==0.0.0
itsdangerous==0.24
Jinja2==2.8
Markdown==2.6.6
MarkupSafe==0.23
redis==2.10.5
requests==2.10.0
six==1.10.0
SQLAlchemy==0.9.9
Werkzeug==0.11.9
