a{
    text-decoration: none;
    color: #000
}
body{
    margin: 0;
    padding: 0;
}
h1, h2, h3 {
    margin: 0;
}
ol,ul,li{
    list-style-type: none;
    margin: 0;
    padding: 0
}

input, textarea, button {
    outline: none;
}
pre {
    background-color: #eee;
    padding: 10px 10px;
    border-radius: 3px;
    overflow-x:auto;
}



#header{
    padding:120px 20px 40px 20px;
    background: #515865;
    color: #fff;
}
.header-container{
    text-align: center;
    max-width: 780px;
    margin: 0 auto;
}

.main-navigation {
    margin: 20px 0;
}
.main-navigation li{
    margin-right: 20px;
    display: inline-block;
}
#header a, .site-description {
    color: #fff;
    text-shadow: -1px 0 0 rgba(0,0,0,0.75);
}

.main-navigation a {
    color: #fff;
    background: rgba(25,25,25,0.4);
    padding: 2px 6px;
    border-radius: 3px;
}

.social-links li{
    display: inline-block;
    padding-right: 10px;
}
.social-links span{
    display:none;
}
.site-title a {
    letter-spacing: 6px;
}


.wrapper{
    width: 888px;
    margin: 0 auto;
}

.passage p img {
    width:886px;
    height: auto;
}
.comment-input{
    border: 1px solid #ddd;
}
.comment-form-email{
    margin:0,30px,30px,0;
    line-height: 28px;
}
.comment-form-submit{
    line-height: 29px;
    text-align: center;
    background:rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #444, #333) repeat scroll 0 0;
}
#comment-body{
    height: 100px;
    min-width: 884px;
    max-width: 884px;
    min-height: 28px;
}
#comment-email{
    width:800px;
    float:right;
}
.comment-form-submit{
    cursor: pointer;
    border-radius: 2px;
}
#comment-submit{
    color:#fff;
}


.footer{
    clear: both;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}
