<!DOCTYPE html>
<html>
<head>
    <title>vibiu's Blog</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="shortcut icon" href="/static/img/vicon.png" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>

<body>
<header id="header">
    <div class="header-container">
        <hgroup></hgroup>
        <h1 class="site-title"><a href="/">vibiu</a></h1>
        <h2 class="site-description">do one thing and do it well</h2>
        <nav id="site-navigation" class="main-navigation" role="navigation">
            <li><a href="#">折腾</a></li>
            <li><a href="#">记录</a></li>
            <li><a href="#">归档</a></li>
            <li><a href="#">邻居</a></li>
            <li><a href="#">关于</a></li>
        </nav>
        <ul class="social-links">
            <li>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                    <span>Twitter</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-weibo"></i>
                    <span>Weibo</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-instagram"></i>
                    <span>Instagram</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-feed"></i>
                    <span>Feed</span>
                </a>
            </li>

        </ul>
    </div>

</header>

<div class="wrapper">
    <div class="content">
        <article>
            <h2><time class="date-updated" datetime="2016-02-07T16:43:08+00:00" itemprop="datePublished" pubdate>Apr,27,2016</time></h2>
            <div class="passage">
                When you see this. I have make my desision to build my own blog website.
                But now it seams that there are still loads of things waiting for me to do.

                I'll talk about the techonical details first. I use python's frame Flask to build my back-end. I write the front-end by myself, though I was supposed to ask a guy who is professional of front-end to write it. 

                As for Front-end reverse proxy, Nginx is my choice, beacause it's free and open source(though I maybe never have the chance to contribute a single code for nginx).

                Since now, I only use sqlite as my database, I guess I would soon turn to Mysql or MongoDB. I was weak of Front-end, so I plan to find a Front frame to write my webpage, this could be Bootstrap or React. Maybe I should also learn Vue.js or Anguler.js. But I think I should choose it carefully for the fact that there are to many Front frame coming out these days.

                Well, best wishes to myself.
            </div>
        </article>
        <div id="response" class="comment-reponse">
            <h3 id="reply-title">发表评论</h3>
            <form id="comment-form" class="comment-form" method="post" action="/api/1.0/comment">
            <p>
                <textarea id="comment-body" required="required" aria-required="true" rows="5" cols="100" name="comment"></textarea>
            </p>
            <span id="reply-email">邮箱地址</span>
            <span><input id="comment-email" required="required" rows="2" cols="60" name="comment-email"/></span>
            <div>
                <a id="comment-submit" href="#" onclick="commentSubmit()">submit</a>
            </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
